/*General*/
body{
    background: url('../img/die_header.jpg');
    background-attachment: fixed;

}
footer{
    color:white;
    background-color: #071147;
}
/*Divs*/
#global{
    background-color: #0d001f;
    box-shadow: 0px 0px 2px red;
}
#logotype{
    background: #071147;
    color: #afafaf;
}
#navMenu{
    background-color: #333;
}
#navMenu ul li:hover{
    background:#071147;
    color: #afafaf;
}
#navMenu a{
    color: #afafaf;
    border-right: 1px solid red;
}
/*Clases*/
.post {
    color: white;
}
.post h3{
    color: white;
}
.post .article__date{
    color: lightgray;
}
.readMoreButton{
    background: #071147;
    color: white;
}
/*Formularios*/
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    border: 2px solid #ccc;
}
form input[type="submit"]{
    background-color: #ccc;
    border: 1px solid grey;
}