/*General*/
*{
    margin:0px;
    padding: 0px;
    list-style: none;
}
body{
    background: url('../img/die_header.jpg');
    background-attachment: fixed;
}
footer{
    color:white;
    height: 50px;
    background-color: #808080;
    margin:0px auto;
    width: 60%;
    padding-left:20px;
    padding-right: 20px;
}
/*Divs*/
#global{
    display:block;
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
    padding: 25px;
    background-color: #afafaf;
    box-shadow: 0px 0px 2px red;
}
#logotype{
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background: #808080;
    color: #2cbd16;
    padding: 0px 5px;
    text-align: center;
    width: 300px;
    height: 100px;
    float:left;
    margin: 5px auto;
    margin-bottom: 20px;
}
#navMenu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#navMenu ul{
    line-height: 46px;
    border: 1px solid red;

}
#navMenu ul li{
    display:inline-block;
    height: 46px;
    transition: all 1500ms;
}

#navMenu ul li:hover{
    background:#2cbd16;
}

#navMenu a{
    display:block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid red;
}
#webContent{
    width: 95%;
    margin: 0px auto;
}
#posts{
    
    width: 60%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}
#sidebar{
    width: 30%;
    float: right;
}
#sidebar h4{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
#sidebar p{
    text-align: justify;
}
#sidebar img{
    width: 100%;
}
#theme__selector{
    position:fixed;
    top:40%;
    background: rgba(51,51,51,0.5);
    width: 50px;
    height: 115px;
}
/*Selector de temas*/
#to__green,
#to__red,
#to__blue,
#to__nocturne{
    display: block;
    width: 30px;
    height: 20px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor:pointer;
}
#to__green {
    background-color: #2cbd16;
}
#to__red {
    background-color: #ca3413;
}
#to__blue {
    background-color: #1f87c4;
}
#to__nocturne {
    background-color: #230747;
}
/*Clases*/
.post{
    padding: 7px;
}
.post h3{
    font-size: 30px;
    color: #333;
}
.post .article__date{
    display:block;
    color: gray;
    margin-top: 5px;
}
.post p{
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}
.readMoreButton{
    display: block;
    float: auto;
    font-size: 15px;
    text-align: center;
    width: 70px;
    padding: 15px;
    background: #808080;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.clearDiv{
    float:none;
    clear:both;
}
/*Formularios*/
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    padding: 3px;
    width: 80%;
    border-radius: 2px;
    border: 2px solid #ccc;
    margin-top: 2px;
    margin-bottom: 10px;
}
form input[type="submit"]{
    background-color: #ccc;
    padding:10px;
    border: 1px solid grey;
    cursor: pointer;
}